h1{
	margin: 20px;
	font-size: 20pt;
	cursor: pointer;
}

header{
	font-size: 12px;
}

.book-listing{
	width: 700px;
}

button{
	border: none;
	padding: .3em .6em;
	border-radius: 3px;
	font-size: inherit;
	cursor: pointer;
}

button:focus{
	outline: none;
}

input[type='text'], input[type='number']{
	border: none;
	border-bottom: solid 1px;
}

input[type='text']:focus{
	outline: none;
}

.listing-element, #log-in-link, #log-out-link, #add-book-link{
	cursor: pointer;
}

#navbar{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

body{
	width: 800px;
}

main{
	display:flex;
	flex-direction: column;
	align-items: center;
}

table{
	width: 700px;
	margin: 20px;
	empty-cells: show;
	table-layout:
}

tr{
	width: 100%;
	border-bottom: 1px solid #888;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

tr:hover{
	background-color: #def;
}

td, th{
	padding: 3px;
	text-align: left;
}

.listing-links-container{
	display: flex;
	justify-content: space-between;
}

.listing-nav-links{
	width: 300px;
}

#login-container{
	position: absolute;
	top: 40%;
	left: 50%;
}

#username-input{
	font-size: 30px;
}

#nav-buttons{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	font-size: 15px;
}

#add-book-popup{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

#add-book-form{
	position: absolute;
	top: 25%;
	left: calc(50% - 123px);
	opacity: 1;
	background-color: #fff;
	padding: 20px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

#add-book-form > * {
	margin: 5px;
	font-size: 15px;
}

#settings-popup{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, .5);
}

#settings-button-container{
	position: absolute;
	top: 15%;
	left: calc(50% - 40px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 10pt;
}

#settings-button-container > *{
	margin: 5px;
}

#book-display{
	display: flex;
	flex-direction: column;
	width: 600px;
	padding: 15px;
}

#book-title, #book-author{
	align-self: flex-start;
}

#book-title{
	font-size: 20pt;
	font-weight: bold;
}

#book-author{
	font-size: 14pt;
	font-style: italic;
}

#book-description{
	align-self: center;
	font-size: 11pt;
}

#cover-image{
	align-self: center;
	margin: 15px;
}